@{
    ViewBag.Title = "Rengøringsplan";
    
}

<div id="content">
    <h2>Rengøring</h2>
    <div class="table-responsive">
        <table id="cleaningTable">
            <thead>
                <tr>
                    <th>Hvem?</th>
                    <th>Mandag</th>
                    <th>Tirsdag</th>
                    <th>Onsdag</th>
                    <th>Torsdag</th>
                    <th>Fredag</th>
                    <th>Lørdag</th>
                    <th>Søndag</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th>Lars</th>
                <th>Tørre af</th>
                <th>Gulvvask</th>
                <th>Badeværelse</th>
                <th>Fri</th>
                <th>Støvsuge</th>
                <th>Fri</th>
                <th>Fri</th>
            </tr>
            <tr>
                <th>Julie</th>
                <th>Fri</th>
                <th>Støvsuge</th>
                <th>Køkken</th>
                <th>Fri</th>
                <th>Fri</th>
                <th>Fri</th>
                <th>Fri</th>
            </tr>
            </tbody>
            
        </table>
    </div>
    
</div>

