@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12" id="homeContent">
        <h3>Velkommen til Julie og Lars' hjemmeside. Kig dig lidt omkring.</h3>
       </div>
</div>